[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dash = "*"
dash-bootstrap-components = "*"
dash-core-components = "*"
dash-html-components = "*"
dash-table = "*"
flask = "*"
packaging = "*"
pandas = "*"
plotly = "*"
requests = "*"
nltk = "*"
nbformat = "*"
seaborn = "*"
missingno = "*"
scikit-learn = "*"
aiohttp = "*"
nest-asyncio = "*"
matplotlib = "*"
numpy = "*"
ipykernel = "*"
wordcloud = "*"
statsmodels = "*"
pyarrow = "*"
langdetect = "*"
dash-tools = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
