dash
dash-bootstrap-components
gunicorn
dash-bootstrap-components
dash-core-components
dash-html-components
numpy
pandas
plotly
pyarrow
regex
requests
statsmodels
asyncio
aiohttp
scikit-learn == 1.4.0
langdetect
