aiohttp==3.9.3
aiosignal==1.3.1
ansi2html==1.9.1
appnope==0.1.4
asttokens==2.4.1
attrs==23.2.0
blinker==1.7.0
certifi==2024.2.2
cfgv==3.4.0
charset-normalizer==3.3.2
click==8.1.7
comm==0.2.1
# contourpy==1.2.0
cycler==0.12.1
dash==2.15.0
dash-bootstrap-components==1.5.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-iconify==0.1.2
dash-mantine-components==0.12.0
dash-table==5.0.0
dash-tools==1.12.0
debugpy==1.8.1
decorator==5.1.1
distlib==0.3.8
docopt==0.6.2
executing==2.0.1
fastjsonschema==2.19.1
filelock==3.13.1
Flask==3.0.2
fonttools==4.49.0
frozenlist==1.4.1
gunicorn==21.2.0
identify==2.5.35
idna==3.6
importlib-metadata==7.0.1
iniconfig==2.0.0
ipykernel==6.29.2
ipython
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.3
joblib==1.3.2
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter_client==8.6.0
jupyter_core==5.7.1
kiwisolver==1.4.5
langdetect==1.0.9
MarkupSafe==2.1.5
# matplotlib==3.8.3
# matplotlib-inline==0.1.6
missingno==0.5.2
multidict==6.0.5
nbformat==5.9.2
nest-asyncio==1.6.0
nltk==3.8.1
nodeenv==1.8.0
numpy
packaging==21.3
pandas
parso==0.8.3
patsy==0.5.6
pexpect==4.9.0
pillow==10.2.0
pipenv==2023.11.17
pipreqs==0.4.12
platformdirs==4.2.0
plotly==5.19.0
pluggy==1.4.0
pre-commit==2.16.0
prompt-toolkit==3.0.43
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
pyarrow==15.0.0
Pygments==2.17.2
pyparsing==3.1.1
pytest==6.2.5
python-dateutil==2.8.2
pytz==2024.1
PyYAML==6.0.1
pyzmq==25.1.2
referencing==0.33.0
regex==2023.12.25
requests==2.31.0
retrying==1.3.4
rpds-py==0.18.0
ruamel.yaml==0.17.21
# scikit-learn==1.4.1.post1
# scipy==1.12.0
# seaborn==0.13.2
setuptools==69.1.0
six==1.16.0
stack-data==0.6.3
# statsmodels==0.14.1
tenacity==8.2.3
termcolor==1.1.0
threadpoolctl==3.3.0
toml==0.10.2
tornado==6.4
tqdm==4.66.2
traitlets==5.14.1
typing_extensions==4.9.0
tzdata==2024.1
urllib3==2.2.1
virtualenv==20.25.0
visdcc==0.0.50
wcwidth==0.2.13
Werkzeug==3.0.1
# wordcloud==1.9.3
yarg==0.1.9
yarl==1.9.4
yolk3k==0.9
zipp==3.17.0
